@charset "utf-8";

/* common.css - 공통레이아웃 디자인 */

/******************* 헤더********************/
header{
    position: fixed;
    right: 10vmin;
    height: 60px;
    line-height: 60px;
}

.gnb{
    width: 50vmin;
}

.gnb li{
    width: 33.33%;
    text-align: center;
    font-size: 3vmin;
}












