@charset "UTF-8";
/* 인트로 메인 페이지 css */

/* 파일 merging(합치기) */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/*********************** 원페이지 설정 *********************/
.wrap>div{
    height: 100%;
    width: 100%;
    border: 1px solid lime;
}

/****************** 메인 텍스트 **************************/
.main_text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main_text h2{
    font-size: 17vmin;
    line-height: 17vmin;
    padding-bottom: 3vmin;
}

.main_text h3{
    font-size: 6vmin;
    line-height: 7vmin;
}

/*************************** pg2 **********************/
.pg2{
    display: flex;
}

.pg2>section{
    width: 50%;
}





